@import '../../../_css/common.scss';

.header {
    padding: 16px 0;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: calc(var(--base) / 2) var(--base);
}

.logoDesktop {
    display: block;
    max-height: 85px;

    @include small-break {
        display: none;
    }
}

.logoMobile {
    display: none;

    @include small-break {
        display: block;
    }

}

.hide {
    display: none;
}